extends layout

block content
  p(style="text-align:right") ログインユーザ #{user} 
  h1= title
  
  h2: p メニュー
    p <a href=/elearn/seiseki>あなたの成績</a>
    p <a href=/elearn/siryou>授業資料</a>
    p <a href=/quiz>小テスト</a>
  